jobs:
  job:
    env:
      DATA_QUALITY_CONTROL_ASSIGNEE: isanti
      DATA_QUALITY_CONTROL_THRESHOLD_DATE: 31/12/2022
      GITHUB_REPOSITORY: ${{ github.repository }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HARD_LOGSHEET_URL: .nan
      RDF_AGGREGATOR_GLOB: 'sediment/**/*: ttl, water/**/*: ttl, ro-crate-metadata.json:
        json-ld'
      ROCRATE_PROFILE_URI: https://data.emobon.embrc.eu/observatory-profile/latest
      SEDIMENT_LOGSHEET_URL: https://docs.google.com/spreadsheets/d/1DpQqo2i4q7RAM0sdm_z2pISa8SDBa9aYhWmUflFuUQs/edit?usp=drive_web&ouid=110054986816469121247
      WATER_LOGSHEET_URL: https://docs.google.com/spreadsheets/d/1-1VsUUbRtKselxu-y2BghRIrJdaf74SbmvK42ntvd20/edit#gid=2052143695
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5
    - name: populate-action
      uses: emo-bon/populate-action@main
    - name: git-auto-commit-action
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: update on behalf of populate-action
    - name: data-quality-control-action
      uses: emo-bon/data-quality-control-action@main
    - name: git-auto-commit-action
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: update on behalf of data-quality-control-action
    - name: semantic-uplifting-action
      uses: emo-bon/semantic-uplifting-action@main
    - name: git-auto-commit-action
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: update on behalf of semantic-uplifting-action
    - name: rocrate-to-pages
      uses: vliz-be-opsci/rocrate-to-pages@latest
      with:
        include_draft: 'false'
        index_html: 'false'
        multiple_rocrates: 'true'
        release_management: 'false'
        space_to_pages_homepage: https://data.emobon.embrc.eu
    - name: actions-gh-pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./unicornpages
name: observatory-crate-workflow
'on':
  schedule:
  - cron: 0 0 1 */6 *
  workflow_dispatch: ''
